@model BookingASP.ViewModels.CompanyProfileViewModel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";

}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container profileContainer">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">

                    <div class="col-md-10">
                        @if (Model.Logo != null)
                        {
                            var source = "../../Content/Images/" + Model.Logo;
                            <img id="imageLogo" class="imageLogo img-circle" src=@source alt="Image" />
                        }

                        <br /><br />
                        <input type="file" name="file" id="file" style="width: 100%;display:none" onchange="UploadImage()" />
                        <a id="uploadLogo">Upload logo</a><br />
                        <span id="uploadInfo">(max 140 X 140 px)</span>
                    </div>
                </div>


            </div>
            <div class="col-xs-6">
                <form>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    <div class="form-group">
                        @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label " })

                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })

                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = 5 } )
                           
                            @if (Model.Description != null)
                            {
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            }
                        </div>
                    </div>

                </form>
                <br />
                <div class="profileButtons">
                    
                        <input type="submit" value="Sign out" class="btn btn-default  " onclick="location.href='@Url.Action("SignOut", "Companies")';return false;" />
                        <input type="submit" value="Save" class="btn btn-success" />
                  
                </div>
            </div>

            

        </div>
    </div>



}

<script>

    $("#uploadLogo").click(function () {
        $("#file").click();
        });

     function UploadImage() {

         var data = new FormData();
         var files = $("#file").get(0).files;
         //alert(files.toString());
         if (files.length > 0) { data.append("file", files[0]); }
         else {
             common.showNotification('warning', 'Please select file to upload.', 'top', 'right');
             return false;
         }
         var extension = $("#file").val().split('.').pop().toUpperCase();
         if (extension != "PNG" && extension != "JPG" && extension != "GIF" && extension != "JPEG") {
             common.showNotification('warning', 'Imvalid image file format.', 'top', 'right');
             return false;
         }
         data.append("__RequestVerificationToken", $('input[name="__RequestVerificationToken"]').val());

         $.ajax({
             url: '@Url.Action("FileUpload", "Companies")',
             type: "POST",
             processData: false,
             data: data,
             //dataType: 'json',
             contentType: false,
             success: function (response) {

                 //if (response != null || response != '')
                    // alert(response);


                 $("#imageLogo").attr("src", "../../Content/Images/" + response + "?" + new Date().getTime());

                 $("#file").val('');
             },
             error: function (XMLHttpRequest, textStatus, errorThrown) {
                 alert("Request: " + XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown);
             }

         });
         return false;

        @*$.ajax(
            {
                type: "POST", //HTTP POST Method
                url: '@Url.Action("FileUpload", "Companies")',
                //url: "Services/AddBooking", // Controller/View
                data: { //Passing data
                    Name: $("#Name").val(), //Reading text box values using Jquery
                    Email: $("#Email").val(),
                    Phone: $("#Phone").val(),
                    BookingTime: $("#BookingTime").val(),
                    ServiceId: $("#ServiceID").val(),
                    __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                },
                //contentType: 'application/json; charset=utf-8',
                //dataType: 'json',
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Request: " + XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown);
                },
                success: function (result) {
                    alert("We returned: " + result);
                    ShowFormThree();
                }

             });*@


    }
</script>

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
