@model IEnumerable<BookingASP.Models.Service>

@{
    ViewBag.Title = "Services";
}

@if (Model.Count() > 0)
{
    @Html.Hidden("ServiceID", Model.FirstOrDefault().ID)
}




<div class="container companyContainer">
    <div class="row">
        <div class="col-sm-6">
            @if (ViewBag.Logo != null)
            {
                var source = "../../Content/Images/" +(string)ViewBag.Logo;
                <img id="imageLogo" class="imageLogo img-circle" src=@source alt="Image" />
            }
        </div>
        <div class="col-sm-6">
          
            <div class="row  row-company-name">
                <label>@ViewBag.CompanyName</label>

            </div>
            <div class="row row-company-description">
                <label>@ViewBag.Description</label>

            </div>
        </div>

    </div>

</div>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="container servicesContainer" >
            <div class="row row-sevice-name">
                <div class="col-sm-12">
                    @Html.DisplayFor(modelItem => item.Title)
                </div>

            </div>
            <div class="row row-description">
                <div class="col-sm-12">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>

            </div>

            <div class="row row-info">
                <div class="col-sm-3">
                    @Html.DisplayFor(modelItem => item.Availability)
               <span>Availibility</span>
                </div>
                <div class="col-sm-3">
                    @Html.DisplayFor(modelItem => item.Spaces)
                    <span>Spaces</span>
                </div>
                <div class="col-sm-3">
                    @Html.DisplayFor(modelItem => item.Duration)
                    <span>Duration</span>
                </div>
                <div class="col-sm-3">
                    @Html.DisplayFor(modelItem => item.Price)
                    <span>Price</span>
                </div>
            </div>

            <div class="row">
                <input type="button" class="btn BookButton" value="Make a booking." onclick="BookModelPopUp(@item.ID); " />

            </div>
           <br />
        </div>
    }
}




<dialog id="myDialog">
    @Html.Partial("CreateBooking", new BookingASP.ViewModels.CreateBookingViewModel())


</dialog>



<script type="text/javascript">



    $(function () {

        BookModelPopUp = function (id) {
            $("#ServiceID").val(id);
            var dialog = document.getElementById('myDialog');
            dialog.showModal();
            $('#hide').click(function () { dialog.close(); });
        }

    });

</script>



@Html.AntiForgeryToken()



<script type="text/javascript">
    $(function () {
        $('a.dialog').click(function () {
            var url = $(this).attr('href');
            //dataType: 'JSONP';
            var dialog = $('<div style="display:none"></div>').appendTo('body');
            dialog.load(url, {},
                function (responseText, textStatus, XMLHttpRequest) {
                    dialog.dialog({
                        close: function (event, ui) {
                            dialog.remove();
                        }
                    });
                });
            return false;
        });
    });
</script>

